<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.CCMAF.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>comlinotte</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Futura-Book.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-Bold.ttf</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>foursquare_client_id</key>
	<string>2PFU2PRLO0NFB5PADXSJGEGHNOCMBENWRFETVMRRW1TWVG1A</string>
	<key>foursquare_client_secret</key>
	<string>VGEGGNTSWL0BATURPIPJU4GOP0IJVPPC5EU4XL52YATO4DIC</string>
	<key>foursquare_version</key>
	<string>20140128</string>
	<key>google_map_api_key</key>
	<string>AIzaSyAqAwsG6ZVOnclKRAv8O1zfU_GU2u_4E7A</string>
	<key>linotte_api_client</key>
	<string>eda95b19f510ac1f217a</string>
	<key>linotte_api_client_debug</key>
	<string>317fad2ece10bd331120</string>
	<key>linotte_api_secret</key>
	<string>03deca54e8ca4bc0afda684d06e4b3252fa61164</string>
	<key>linotte_api_secret_debug</key>
	<string>8b5d0f01bf26dca66b599779119aaeb97433b5f4</string>
	<key>mixpanel_api_token</key>
	<string>1dc69197f2069b1758b9f0b9b17b8f88</string>
	<key>mixpanel_api_token_debug</key>
	<string>a1b283da0d87c55e595424a57cd16f77</string>
</dict>
</plist>
